.idvalue{
    width: 200px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.namevalue{
    width: 600px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 20px;
}
.writervalue{
    width: 120px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}